mixin search-form(searchKeyword)
    form.search-box#searchForm
              input#searchInput(type="text", placeholder="Tìm kiếm...", value=searchKeyword)
              button#searchButton(type="submit")
                i.fas.fa-search