// Header
header.header
          .header-left
            button.toggle-btn#toggleBtn
              i.fas.fa-bars
            .breadcrumb Dashboard / Tổng quan

          .header-right

            button.notification-btn
              i.fas.fa-bell
              .notification-badge 3

            .user-profile
              .user-avatar AD
              span Admin User